<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Lover</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles3.css') }}">
</head>
<body>
    <main>
        <div id="card_page">
            <div class="id">
            <h1>{{ descrição }}</h1>
        </div>
            <img src="{{url_for('static', path='images/' + livro.get('imagem', 'default.png'))}}">
            <p><strong>Título: </strong>{{ livro.titulo }}</p>
            <p><strong>Autor: </strong>{{ livro.autor }}</p>
            <p><strong>Ano: </strong>{{ livro.ano_publicacao }}</p>
            <p><strong>Gênero: </strong>{{ livro.genero }}</p>
        </div>
            <div id="card_description">
                <p><strong>Descrição: </strong>{{ livro.descricao }}</p>
            </div>

        <a href="/page/booklover.com"> ←Voltar para a Biblioteca </a>
    </main>
</body>
</html>